.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    max-height: 80px;
    background:none;
    margin-bottom: 80px;
    padding-left: 130px;
    padding-right: 100px;
    z-index: 100;
}

.logo >a> img {
    width: 40px;
    height: 40px;
}

.nav-item {
    background: none;
    border-radius: 12px;
    margin: 16px;
    max-height: 40px;
}

.nav-item:hover {
    background-color: #a8aebf5e;;
}

.nav-link{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #A8AEBF;
}

.btn-logout {
    background: #7B6EF6;
    color: black;
}

.imagen-user {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin: 2px;
}
