<div class="navbar ">
    <div class="logo">
        <a routerLink='inicio'><img src="../assets/logo.png" alt=""></a>
    </div>
    <div class="opciones">
        <ul class="nav">
            <div *ngIf="usuarioLoggeado|async then thenBlock else elseBlock" ></div>
                <ng-template #thenBlock>
                    <li class="nav-item">
                        <a class="nav-link" routerLink='dashboard'>Dashboard</a>
                    </li> 
                    <li class="nav-item">
                        <a class="nav-link" routerLink='series'>Agregar</a>
                    </li> 
                    <li class="nav-item">
                        <a class="nav-link" (click)="cerrarSesion()"><i class="fa-solid fa-arrow-right-from-bracket"></i> Salir</a>
                    </li>                
                </ng-template>


                <ng-template #elseBlock>
                    <li class="nav-item">
                        <a class="nav-link" routerLink='peliculas'>Peliculas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink='series'>Series</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="ingresar">Ingresar <i class="fas fa-arrow-right"></i></a>
                    </li>
                </ng-template>

            <!-- <li class="nav-item">
                <div *ngIf="usuarioLoggeado|async then thenBlock else elseBlock" ></div>
                <ng-template #thenBlock><a class="nav-link" routerLink='peliculas' routerLinkActive="router-link-active" >Dashboard</a></ng-template>
                <ng-template #elseBlock><a class="nav-link" routerLink='peliculas' routerLinkActive="router-link-active" >Peliculas</a></ng-template>
            </li>
            <li class="nav-item">
                <div *ngIf="usuarioLoggeado|async then thenBlock else elseBlock" ></div>
                <ng-template #thenBlock><a class="nav-link" routerLink='peliculas' routerLinkActive="router-link-active">Agregar</a></ng-template>
                <ng-template #elseBlock><a class="nav-link" routerLink='series'>Series</a></ng-template>
            </li>
            <li class="nav-item">
                <div *ngIf="usuarioLoggeado|async then thenBlock else elseBlock" ></div>
                <ng-template #thenBlock><button class="btn btn-logout" (click)="cerrarSesion()">LogOut <img *ngIf="usuarioLoggeado|async as user" src="{{user.photoURL}}" alt="" class="imagen-user"></button></ng-template>
                <ng-template #elseBlock><a class="nav-link" routerLink="ingresar">Ingresar <i class="fas fa-arrow-right"></i></a></ng-template>
            </li> -->
        </ul>
    </div>
</div>