.contenido {
    margin-top: 100px;
}

/* Buscador */

.buscador {
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    width: 344px;
    padding: 24px;
    border: 1px solid #475069;
    box-sizing: border-box;
    border-radius: 12px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #475069;
    margin-bottom: 80px;
}

.input-buscador {
    margin-left: 16px;
    border:none;
    background: none;
    color: #f4f4f4;
    outline: 0px;
}

.input-buscador:active , .input-buscador:focus{
    border: none;
}

/* Titulo */

.titulo {
    color: #EBEEF5;
    margin-bottom: 48px;
}

.titulo > h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 80px;
    margin-bottom: 16px;
}

.titulo > p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #8E95A9;
}

/* Botones filtro */
.filtro{
    display: flex;
    justify-content: center;
    padding: 8px;
    width:min-content;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(80px);
    border-radius: 12px;
    margin-bottom: 24px;
}

.boton-filtro {
    background: none;
    border-radius: 8px;
    padding: 8px 32px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #8E95A9;
}

.boton-filtro:hover {
    background: #7B6EF6;
    color: #EBE9FE;
}

.boton-filtro:focus {
    background: #7B6EF6;
    color: #EBE9FE;
}

.activado {
    background: #7B6EF6;
    color: #EBE9FE;
}

/* Cantidad de resultados */

.cant-resultados {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #767E94;
    margin-bottom: 24px;
}

.cant-resultados > h2 > span {
    font-size: 20px;
}


/* --------------- estilos del componente card --------------  */

.cartelera {
    margin-top: 0%;
    padding-bottom: 50px;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}

.container-card {
    width: 282px;
    height: 480px;
    border-radius: 12px;
    padding: 8px 8px 16px 8px;
    margin: 24px 0px;

    background: rgba(32, 40, 62, 0.8);
    backdrop-filter: blur(80px);
    transition: all 0.5s;
}

.container-card:hover {
    background: rgba(75, 90, 133, 0.8);
}



.container-img {
    width: 266px;
    height: 400px;
    border-radius: 8px;
    display: flex;
}

.container-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 9;
}

.ranking {
    position: absolute;
    z-index: 10;
    max-width: 65px;
    height: 40px;
    top: 18px;
    left: 16px;
    border-radius: 8px;
    padding: 4px 8px 4px 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(8px);
    color: #FFAD49;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.ranking > p {
    padding-left: 5px;
    margin: 0px;
}

.estrella {
    font-size: 16px;
}

.container-card > h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-top: 20px;
    padding: 8px;
    color: #EBEEF5
    
}