<div class="contenido">
    <div class="titulo">
        <h1>PelisUP!</h1>
        <p>Plataforma para ver peliculas y series</p>
    </div>

    <div class="buscador">
        <div class="input-group">
            <label for=""><i class="fas fa-search"></i><input type="text" name="buscador" class="input-buscador" (ngModelChange)="buscar()" [(ngModel)]="buscador" placeholder="Buscar peliculas y series"></label>
        </div>
    </div>

    <div class="filtro">
        <button type="button" class="btn boton-filtro" [ngClass]=" filtro== 'Todos' ? 'activado' : ''" (click)="getTrending()">Todos</button>
        <button type="button" class="btn boton-filtro" [ngClass]=" filtro== 'Pelicula' ? 'activado' : ''"  (click)="getMovies()">Peliculas</button>
        <button type="button" class="btn boton-filtro" [ngClass]=" filtro== 'Serie' ? 'activado' : ''"  (click)="getSeries()">Series</button>
    </div>

    <div class="cant-resultados">
        <h2>{{filtro}} <span>{{ cantidad }}</span></h2>
    </div>

    <app-card [aux]="auxBuscador" ></app-card>
    

</div>