<div class="contenido">
    <div class="row">
        <div class="col dibujo justify-content-center align-items-center d-flex">
            <img src="../../../../assets/Saly-11.png">
        </div>
        <div class="col justify-content-center align-items-center d-flex">
            <form class="formulario" (ngSubmit)="ingresar()" autocomplete="off" [formGroup]="miFormulario" >
                <h2>Ingresar</h2>
                <div class="input">
                    <div class="input-mail">
                        <label class="w-100 d-flex align-items-center"><i class="fa-solid fa-envelope"></i>
                            <input  type="text" 
                                    class="form-control input-buscador" 
                                    formControlName="email"
                                    placeholder="Email">
                        </label>
                    </div>
                    <span class="form-text text-danger" *ngIf="campoEsValido('email')">
                        Debe ingresar un email valido
                    </span>
                    <div class="input-password">
                        <label class="w-100 d-flex align-items-center"><i class="fa-solid fa-key"></i>
                            <input  type="password" 
                                    class="form-control input-buscador" 
                                    formControlName="contrasena"
                                    placeholder="Constraseña">
                        </label>
                    </div>
                    <span class="form-text text-danger" *ngIf="campoEsValido('contrasena')">
                        Debe tener al menos 3 digitos
                    </span>
                </div>

                <div class="d-flex flex-direction-row align-items-center justify-content-center text-center">
                    <p class="m-0" style="color: #EBEEF5;" >¿No tienes cuenta?</p> 
                    <a class="nav-link" routerLink='registrar'>Registrate</a> 
                </div>

                <button class="btn boton-form" type="submit">Ingresar</button>
                <!-- <button class="btn boton-form" type="submit" (click)="registrar()">Registrarse</button> -->
                
                <div class="botones">

                    <ng-container class=" justify-content-center">
                        <button class="btnGoogle" (click)="ingresarConGoogle()"><img src="./../../../../assets/btn_google.png" ></button>
                    </ng-container>
                    
                    <!-- <ng-container *ngIf="usuarioLoggeado|async">
                        <button class="btn btn-info" (click)="cerrarSesion()">LogOut</button>
                    </ng-container> -->
                    
                </div>
            </form>
            
        </div>
    </div>

    <ng-container *ngIf="usuarioLoggeado|async as user">
        <h2>Informacion del usuario</h2>
        <img src="{{user.photoURL}}" alt="">
        <h2>{{user.email}}</h2>

    </ng-container>

</div>