<div class="cartelera">
    <div *ngIf="filtro=='todos' then thenBlock else elseBlock"></div>
            
    <ng-template #thenBlock>
        <ng-container  *ngFor="let card of aux">
            <div class="container-card">
                <div class="container-img">
                    <img [src]="'https://www.themoviedb.org/t/p/w600_and_h900_bestv2'+card.poster_path" alt="">
                    <div class="ranking">
                        <i class="far fa-star estrella"></i>
                        <p> {{card.vote_average}}</p>
                    </div>
                </div>
                <h4>{{card.title}}{{card.name}}</h4>
                <div *ngIf="usuarioLoggeado|async then thenBlock" ></div>
                <ng-template #thenBlock>
                    <div class="opcion">
                        <div class="cont-opciones">
                            <a class="agregar" (click)="agregarMovie(card)" >+ Agregar a mi lista</a>
                            <a class="eliminar" (click)="eliminarMovie(card.ide)">- Eliminar de mi lista</a> 
                        </div>
                    </div>
                </ng-template>
            </div> 
        </ng-container>
    </ng-template> 
    
    <ng-template #elseBlock>
        <ng-container  *ngFor="let card of aux">
            <div class="container-card" *ngIf="card.media_type == filtro">
                <div class="container-img">
                    <img [src]="'https://www.themoviedb.org/t/p/w600_and_h900_bestv2'+card.poster_path" alt="">
                    <div class="ranking">
                        <i class="far fa-star estrella"></i>
                        <p> {{card.vote_average}}</p>
                    </div>
                </div>
                <h4>{{card.title}}{{card.name}}</h4>
                <div *ngIf="usuarioLoggeado|async then thenBlock" ></div>
                <ng-template #thenBlock>
                    <div class="opcion">
                        <div class="cont-opciones">
                            <a class="agregar" (click)="agregarMovie(card)" >+ Agregar a mi lista</a>
                            <a class="eliminar" (click)="eliminarMovie(card.ide)">- Eliminar de mi lista</a> 
                        </div>
                    </div>
                </ng-template>
            </div> 
        </ng-container>
    </ng-template>

</div>