.cartelera {
    margin-top: 0%;
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
    gap: 48px;
    flex-wrap: wrap;
}

.container-card {
    width: 282px;
    height: auto;
    border-radius: 12px;
    padding: 8px 8px 16px 8px;
    margin: 24px 0px;

    background: rgba(32, 40, 62, 0.8);
    backdrop-filter: blur(80px);
    transition: all 0.5s;
}

.container-card:hover {
    background: rgba(75, 90, 133, 0.8);
}



.container-img {
    width: 266px;
    height: 400px;
    border-radius: 8px;
    display: flex;
}

.container-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 9;
}

.ranking {
    position: absolute;
    z-index: 10;
    width: 60px;
    height: 40px;
    top: 18px;
    left: 16px;
    border-radius: 8px;
    padding: 4px 8px 4px 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(8px);
    color: #FFAD49;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.ranking > p {
    margin: 0px 0px 0px 5px;
}

.estrella {
    font-size: 16px;
}

.container-card > h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-top: 20px;
    padding: 8px;
    color: #EBEEF5
    
}

a{
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-left: 5px;
}

.agregar{
    color: #7B6EF6;;
}

.eliminar{
    color: #FF6161;
}

.cont-opciones{
    display: flex;
    flex-direction: column;
}