.container-fluid{
    margin-top: 100px;
    height: 100vh;
    color: #EBEEF5;
}

h2{
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
}

.row{
    margin: 20px auto;   
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    
}

.col-6{
    height: 100%;
    background-color: #121829;
    padding: 0;
    border-radius: 12px;
}

a{
    text-decoration: none;
    color: #EBEEF5;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    transition: all 0.5s;
    border-radius: 12px;
}

a:hover{
    background-color:  #2c303a ;
    transition: all 0.5s;
}

h3{
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
}

p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #767E94;
}
