<div class="container-fluid">
    <h2>Bienvenido</h2>
    <div class="row">
        <div class="Peliculas col-6">
            <a routerLink="peliculas" class="cont-fav">
                <h3>10</h3>
                <p>Peliculas</p>
            </a>
        </div>
        <div class="Series col-6">
            <a routerLink="series" class="cont-fav">
                <h3>10</h3>
                <p>Series</p>
            </a>
        </div>
    </div>
</div>