/* Titulo */

.titulo {
    color: #EBEEF5;
    margin-bottom: 48px;
    margin-top: 100px;
}

.titulo > h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #BEB7FB
}

.titulo > h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 80px;
    margin-bottom: 16px;
}

/* Buscador */

.buscador {
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    width: 344px;
    padding: 24px;
    border: 1px solid #475069;
    box-sizing: border-box;
    border-radius: 12px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #475069;
    margin-bottom: 80px;
}

.input-buscador {
    margin-left: 16px;
    border:none;
    background: none;
    color: #f4f4f4;
    outline: 0px;
}

.input-buscador:active , .input-buscador:focus{
    border: none;
}

/* Cantidad de resultados */

.cant-resultados {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #767E94;
    margin-bottom: 74px;
}


.contenido {
    min-height: 100vh;
    width: 100%;
    
}