

<div class="contenido">
    <div class="titulo">
        <h1>PelisUp!</h1>
        <h2>Series</h2>
    </div>
    
    <div class="buscador">
        <div class="input-group">
            <label for=""><i class="fas fa-search"></i><input type="text" name="buscador" class="input-buscador" (ngModelChange)="buscar()" [(ngModel)]="buscador" placeholder="Buscar peliculas y series"></label>
        </div>
    </div>
    
    <div *ngIf="usuarioLoggeado|async then thenBlock else elseBlock" ></div>
        <ng-template #thenBlock>
            <ng-container>
                <div class="cant-resultados">
                    <h2>Resultados <span>{{cantidad}}</span></h2>
                    <app-card [aux]="moviesFav" [filtro]="'tv'"></app-card>
                </div>
            </ng-container>
        </ng-template>    

        <ng-template #elseBlock>
            <ng-container>
                <h2>Resultados <span>{{cantidad}}</span></h2>
                <app-card [aux]="auxBuscador"></app-card>
            </ng-container>
        </ng-template>  
</div>