.contenido {
    width: 100%;
    min-height: 100vh;
}

.formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 80px;
    margin-bottom: 16px;
    color: #EBEEF5;
}

.input-mail , .input-password {
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    width: 480px;
    padding: 24px;
    border: 1px solid #475069;
    box-sizing: border-box;
    border-radius: 12px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #475069;
}

.input-mail{
    margin-bottom: 16px;
}

.input-password{
    margin-bottom: 40px;
}

.input-buscador {
    margin-left: 16px;
    border:none;
    background: none;
    color: #f4f4f4;
}

.input-buscador:active , .input-buscador:focus{
    border: none;
}

.boton-form {
    width: 480px;
    /* height: 56px; */
    padding: 24px;
    background: #7B6EF6;
    color: #EBEEF5;
    border-radius: 12px;
    margin-bottom: 10px;
}

.botones {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.btnGoogle{
    padding: 0;
    width: 191px;
    height: 46px;
    border: none;
    background: none;
    
}

.btnGoogle > img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    /* object-position: center ; */
}
