<div class="contenido">
    <div class="row">
        <div class="col dibujo justify-content-center align-items-center d-flex">
            <img src="../../../../assets/Saly-11.png">
        </div>
        <div class="col justify-content-center align-items-center d-flex">
            <form class="formulario" autocomplete="off" [formGroup]="miFormulario" >
                <h2>Registrarse</h2>
                <div class="input">
                    <div class="input-mail">
                        <label class="w-100 d-flex align-items-center"><i class="fa-solid fa-envelope"></i>
                            <input  type="text" 
                                    class="form-control input-buscador" 
                                    formControlName="email"
                                    placeholder="Email">
                        </label>
                    </div>
                    <span class="form-text text-danger" *ngIf="campoEsValido('email')">
                        Debe ingresar un email valido
                    </span>
                    <div class="input-password">
                        <label class="w-100 d-flex align-items-center"><i class="fa-solid fa-key"></i>
                            <input  type="password" 
                                    class="form-control input-buscador" 
                                    formControlName="contrasena"
                                    placeholder="Constraseña">
                        </label>
                    </div>
                    <span class="form-text text-danger" *ngIf="campoEsValido('contrasena')">
                        Debe tener al menos 3 digitos
                    </span>
                </div>

                <div class="d-flex flex-direction-row align-items-center justify-content-center text-center">
                    <p class="m-0" style="color: #EBEEF5;" >¿Ya tienes cuenta?</p> 
                    <a class="nav-link" routerLink='ingresar'>Ingresar</a> 
                </div>

                <button class="btn boton-form" type="submit" (click)="registrar()">Registrarse</button>
                
            </form>
            
        </div>
    </div>

</div>