/* You can add global styles to this file, and also import other style files */
*{
    font-family: 'Poppins', sans-serif;
    
}
body {
    position: relative;
    padding-top: 80px;
    height: 100%;
}

/* Background */

.background {
    position: absolute;
    background-color: #121829;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -10;
}
.vector3 {
    position: absolute;
    width: 488px;
    height: 345px;
    left: 124px;
    top: 331px;
    background: #0C4265;
    filter: blur(250px);
}
.vector4 {
    position: absolute;
    width: 488px;
    height: 345px;
    left: 822px;
    top: 1110px;
    background: #02523A;
    filter: blur(250px);
}
.vector6 {
    position: absolute;
    width: 576px;
    height: 407px;
    left: 120px;
    top: 2122px;
    background: #5A4AF4;
    opacity: 0.4;
    filter: blur(250px);
}
.elipse5 {
    position: absolute;
    width: 401.68px;
    height: 266.56px;
    left: 849px;
    top: 67px;
    background: #251E62;
    filter: blur(250px);
    transform: rotate(-135deg);
}
.elipse6 {
    position: absolute;
    width: 401.68px;
    height: 266.56px;
    left: 452px;
    top: 1047px;
    background: #492C66;
    filter: blur(250px);
    transform: rotate(-135deg);
}
.elipse8 {
    position: absolute;
    width: 473.91px;
    height: 314.49px;
    left: 765.1px;
    top: 1948px;
    background: #1EA5FC;
    opacity: 0.4;
    filter: blur(250px);
    transform: rotate(-135deg);
}
